<% include partials/header %>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center landing-text">
		<h1>Welcome to YelpCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
	</div>
</div>

<% include partials/footer %>